In [2]:
import pandas as pd

cities = pd.read_csv("cities.csv")

cities.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bredasdorp,2,ZA,1605245069,61,-34.53,20.04,72.00,1.01
1,Abhā,20,SA,1605245353,82,18.22,42.51,62.60,4.70
2,Jalu,16,LY,1605245354,85,29.03,21.55,60.46,6.24
3,Sheridan,1,US,1605245354,67,44.83,-106.92,26.01,4.70
4,Road Town,40,VG,1605245142,86,18.42,-64.62,80.01,5.99